body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #3498db;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px;
}

.navigation {
    display: flex;
}

.navigation a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.navigation a:hover {
    color: #f39c12; /* Cambiar color al pasar el ratón */
}

.hero {
    /* background-image: url('/img/hero-background.jpg');*/
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    text-align: center;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.content {
    max-width: 800px;
    margin: 50px auto;
}

.feature-blocks {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.feature {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.services {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.service {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.testimonials {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.testimonial {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
}
/* Añadir estilos para el formulario de registro de pago */
.payment-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.payment-form label {
    margin-bottom: 10px;
    display: block;
}

.payment-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.payment-form button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.payment-form button:hover {
    background-color: #2980b9;
}
